.wrapper {
    width: 100%;
    height: calc(100vh - 200px);
    background-color: #bdc3c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding-bottom: 200px;
}

.btnWrapper {
    display: flex;
    gap: 3rem;
    border: 1px solid red;
    justify-content: center;
}

.btn {
    padding: 15px;
    font-size: 15px;
    border-radius: 6px;
    width: 150px;
    background-color: #3498db;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.btn:hover {
    background-color: #2980b9;
}

.btn:active {
    background-color: #3498db;
}

.loadInput {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 145px;
    height: 58px; 
    visibility: 0.5;
    color: transparent;
    opacity: 0;
    cursor: pointer;
}

.downloadLink {
    display: none;
}

.modeDiv {
    display: flex;
    width: 70%;
    margin: 10px;
}

.btnSelected {
    background-color: chocolate;
}

.inputDiv {
    width: 70%;    
}

.searchInput {
    width: 80%;
    margin: 10px;
    padding: 10px;
}

.resultDiv {
    width: 70%;
}

.resultActionBtnDiv {
    display: flex;
    align-items: center;
}

.listDiv, .listItemDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(48, 48, 48);
    margin: 5px;
    background-color: #b1b1b1;
}

.listItemDiv {
    width: 90%;
    margin: 0px;
}

.listItem, .playlistItem {
    width: 90%;
    margin: 10px;
    display: flex;
    border: 1px solid darkgray;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.playlistItem {
    width: 80%;
    margin: 5px;
}

.coverDiv {
    width: 15%;
    height: 50px;
}

.playCover {
    width: 80%;
    height: 50px;
    object-fit: cover;
}

.dataDiv {
    width: 65%;
    height: 50px;
}

.header {
    font-size: 18px;
    font-weight: bold;
    padding: 3px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subHeader {
    font-size: 13px;
    padding: 3px;
}

.btnDiv {
    width: 20%;
    display: grid;
    place-content: center;
}

.addButton {
    width: 100px;
    padding: 4px;
}
.loadButton {
    width: 100%;
    padding: 4px;
}