.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.btn {
    padding: 20px;
    font-size: 20px;
    border-radius: 6px;
    width: 250px;
    background-color: #3498db;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.btn:hover {
    background-color: #2980b9;
}

.btn:active {
    background-color: #3498db;
}

.loadInput {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 245px;
    height: 58px; 
    visibility: 0.5;
    color: transparent;
    opacity: 0;
    cursor: pointer;
}

.downloadLink {
    display: none;
}